<%- include("header") %> 

    <div class="box" id="heading">
        <h1><%= listTitle %> </h1>
    </div>


    <div class="box">
        

        <% ListItems.forEach(item => { %>
        <form action="/delete" method="post">
            <div class="item">
                <input type="hidden" name="list" value="<%= listTitle %>">
                <input type="hidden" name="itemName" value= <%= item.name %>>
                <input type="checkbox" name="checkBox" value="<%= item._id %>" onChange="this.form.submit()">
                <p> <%= item.name %></p>
                
            </div>
        </form>
        <% }) %>
        





        <% for(var i = 0; i < ListItems.length; i++) {%>
        
        <% } %>

        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name ="list" value="<%= listTitle %>">+</button>
        </form>
    </div>  

    Previous days with unfinished tasks <%= numberOfTasks %>
    
    <%- include("footer") %> 
